<!DOCTYPE html>
<html lang="en">
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-6 footer-contact">
                    <h3>MindYoga</h3>
                    <p>
                        31A, Jalan SS 2/10,<br>
                        SS 2, 47300 Petaling Jaya,<br>
                        Selangor, Malaysia<br><br>
                        <strong>Phone:</strong> +60 7153425<br>
                        <strong>Email:</strong> info@mindyoga.com<br>
                    </p>
                </div>

                <div class="col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="yogaclass">Yoga Class</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="examine_DAS">Test Stress</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>MindYoga</span></strong>. All Rights Reserved
            </div>
        </div>

    </div>
</footer><!-- End Footer -->

</html>